.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  border: 2px solid purple;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  z-index: 1;
  transition: top var(--animation), opacity var(--animation),
    visibility var(--animation);
  &__close-btn {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover .menu__close-icon,
    &:focus .menu__close-icon {
      fill: var(--accent-color);
    }
  }
  &__soc-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
  }
  &.is-hidden {
    top: 100%;
    opacity: 0;
    visibility: hidden;
  }
  &__contact-list {
    margin-bottom: 64px;
  }
}

.page-list {
  &__link {
    font-size: 40px;
    line-height: calc(47 / 40);
    text-align: center;
    color: var(--secondary-text-color);
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__item:hover &__link,
  &__item:focus &__link {
    color: var(--accent-color);
  }
}
.contact-list {
  &__tel-link {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  &__mail-link {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--main-text-color);
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.soc-list {
  &-link {
    font-size: 18px;
    line-height: calc(22 / 18);
    color: var(--accent-color);
    //   border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;
  }
  &-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &-item {
    margin-top: 10px;
    margin-left: 10px;
  }
}
