.header {
  width: 100%;

  border-bottom: 1px solid #ececec;
  &-container {
    display: flex;
    @media screen and (max-width: 1199px) {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 15px 23px 15px 15px;
  }

  &__menu-btn {
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__menu-btn:hover &__menu_icon,
  &__menu-btn:focus &__menu_icon {
    fill: var(--accent-color);
  }
}
