.site-nav > .logo {
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }
  margin-right: 93px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  color: var(--secondary-text-color);
  display: flex;
  padding-left: 0;
}
.header-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 305px;
  padding-left: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0;
  }
}

.auth-nav__item {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

.header-nav__link {
  .auth-nav & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 5px;
    }
  }
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    position: relative;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(12 / 14);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
}
.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
