.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
