:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --white-link-color: #ffffff;
  --border-color: #eeeeee;
  --main-bgc: #2f303a;
  --sec-bgc: #f5f4fa;
  --another-one-bgc: rgba(47, 48, 58, 0.8);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 1;
}
